body {
    background-color: #efefef;
}

.main {
    background-color: white;
    margin: 30px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

/* 首页问题列表 */
/* 头像框大小 */
.media-object {
    width: 60px;
    height: 60px;
}
/* 灰字：回复数、浏览数、发布时间 */
.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
/* 个人中心列表组样式 */
.profile .section {
    margin-top: 15px;
}
/* 问题详情页面 编辑按钮样式 */
.community-menu {
    color: #999;
    font-size: 13px;
}
/* 错误页样式 */
.jumbotron {
    margin: 100px;
}


