<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>码匠社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!--连接 样式文件-->

    <!-- css样式文件 -->
    <!--templates下的文件可以直接访问到同一个父目录下static的文件-->
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/community.css"/><!--引入自己的样式文件(用在"发现"页面)-->

    <!-- js样式文件 -->
    <script src="js/jquery-3.6.0.min.js"></script><!--用于下拉菜单，并且要在js文件中的第一个位置-->
    <script src="js/bootstrap.min.js" type="application/javascript"></script>


</head>

<!--验证是否关闭登录页面(未登录就回复的情况)-->
<script type="application/javascript">
    window.onload = function () {
        let isClose = window.localStorage.getItem("isClose");
        if (isClose == "true"){
            //如果浏览器已经存了isClose并且为true，则关闭登录页面
            window.close();
            //验证成功，关闭登录页面后，移除isClose
            window.localStorage.removeItem("isClose");
            //只有 提示未登录并确认跳转登录页面 才会存储isClose，最后都移除isClose，这样其他情况登录后就不会关闭页面
        }
    }
</script>

<body>
<!--****************************************** 引入导航条模块 ******************************************-->
<div th:insert="~{navigation :: nav}"></div><!--模块html文件名称 :: 模块名称-->

<!--*********************************** 这里开始是首页 "问题列表" 的部分 ***********************************-->
<div class="container-fluid main">  <!--使用自己的样式文件写的样式-->
    <div class="row">
        <!--col-lo-9和col-lg-3表示 发起页面 全屏(≥1200px)时，两个部分左右比例为3:1-->
        <!--两个col-md-12表示 发起页面 中等大小(≥992px) 时，两个部分都占满整个页面，但不再是左右布局而是上下布局-->
        <!--发起页面 继续变小时，都是占满整个页面，并且是上下布局-->

        <!--1."发现" 部分-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <!--"发现" 部分的图标和名字-->
            <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span> 发现</h2>
            <hr>

            <!--问题记录的样式-->
            <div class="media" th:each="question : ${pagination.data}">   <!-- each循环遍历pagination(当前页)的每个question，显示到首页-->
                <div class="media-left">
                    <a href="#">
                        <!-- img-rounded为圆角正方形头像框，th:src为头像url地址 -->
                        <img class="media-object img-rounded" th:src="${question.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <!--问题标题（带有问题详情的链接）-->
                    <h4 class="media-heading">
                        <a th:href="@{/question/{id}(id=${question.id})}" th:text="${question.title}"></a>
                    </h4>
                    <!--问题描述-->
                    <span th:text="${question.description}"></span><br>
                    <!--回复数、浏览数、发布时间-->
                    <span class="text-desc">
                        <span th:text="${question.commentCount}"></span>个回复 -
                        <span th:text="${question.viewCount}"></span>次浏览 -
                        <span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                    </span>
                </div>
            </div>

            <!--分页样式-->
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <!--首页按钮-->
                    <li th:if="${pagination.showFirstPage}">
                        <a th:href="@{/(page=1,search=${search})}" aria-label="FirstPage">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <!--上一页按钮-->
                    <li th:if="${pagination.showPrevious}">
                        <a th:href="@{/(page=${pagination.currentPage - 1},search=${search})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <!-- each循环遍历 展示页码 -->
                    <li th:each="page : ${pagination.pages}"
                        th:class="${pagination.currentPage == page} ? 'active' : ''"><!--当前页高亮-->
                        <a th:href="@{/(page=${page},search=${search})}" th:text="${page}"></a>
                    </li>
                    <!--下一页按钮-->
                    <li th:if="${pagination.showNext}">
                        <a th:href="@{/(page=${pagination.currentPage + 1},search=${search})}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <!--末尾页按钮-->
                    <li th:if="${pagination.showEndPage}">
                        <a th:href="@{/(page=${pagination.totalPage},search=${search})}" aria-label="EndPage">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>


        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <!--2."热门话题" 部分-->
            <h3>热门话题</h3>

            <!--community项目网址二维码-->
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>GitHub项目地址</h4>
                <img class="img-thumbnail" src="/images/community项目二维码.jpg" width="50%">
            </div>

        </div>
    </div>
</div>

<!--****************************************** 引入导航条模块 ******************************************-->
<div th:insert="~{footer :: foot}"></div><!--模块html文件名称 :: 模块名称-->

</body>
</html>