<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布 — 码匠社区</title>    <!--修改页面名字-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!--连接 样式文件-->

    <!-- css样式文件 -->
    <!--templates下的文件可以直接访问到同一个父目录下static的文件-->
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/community.css"/><!--引入自己的样式文件(用在"发起"页面)-->

    <!-- js样式文件 -->
    <script src="js/jquery-3.6.0.min.js"></script><!--用于下拉菜单，并且要在js文件中的第一个位置-->
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>

<body>
<!--****************************************** 引入导航条模块 ******************************************-->
<div th:insert="~{navigation :: nav}"></div><!--模块html文件名称 :: 模块名称-->

<!--*************************************** 这里开始是publish页面的部分 ***************************************-->
<div class="container-fluid main">  <!--使用自己的样式文件写的样式-->
    <div class="row">
        <!--col-lo-9和col-lg-3表示 发起页面 全屏(≥1200px)时，"发起" 和 "问题发起指南" 部分左右比例为3:1-->
        <!--两个col-md-12表示 发起页面 中等大小(≥992px) 时，"发起" 和 "问题发起指南" 部分都占满整个页面，但不再是左右布局而是上下布局-->
        <!--发起页面 继续变小时，都是占满整个页面，并且是上下布局-->

        <!--1."发起" 部分-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <!--"发起"部分的图标和名字-->
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 发起</h2>
            <hr>

            <!--action的作用是点击 发布按钮 后，会将这个表单(问题标题、问题补充、添加标签)以post方式提交到/publish地址，也就是给PublishController中的doPublish方法处理-->
            <form action="/publish" method="post">
                <!--"问题标题"输入框-->
                <div class="form-group">
                    <label for="title">问题标题（简单扼要）:</label>
                    <input type="text" class="form-control" th:value="${title}" id="title" name="title" placeholder="问题标题...">
                </div>
                <!--"问题补充"输入框-->
                <div class="form-group">
                    <label for="description">问题补充（必填，请参照右侧提示）:</label>
                    <textarea name="description" id="description" th:text="${description}" class="form-control" cols="30" rows="10"></textarea>
                </div>
                <!--"添加标签"输入框-->
                <div class="form-group">
                    <label for="tag">添加标签:</label>
                    <input type="text" class="form-control" th:value="${tag}" id="tag" name="tag" placeholder="输入标签，以逗号(，)分隔">
                </div>
                <!--发布按钮-->
                <span class="alert alert-danger" th:text="${error}" th:if="${error != null}"></span><!--用户未登录警告框-->
                <button type="submit" class="btn btn-success btn-publish">发布</button>
                                    <!--btn-publish是使用了自己的样式文件写的样式-->
            </form>
        </div>

        <!--2."问题发起指南" 部分-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>问题发起指南</h3>
            - 问题标题: 请用精简的语言描述您发布的问题，不超过25个字<br><br>
            - 问题补充: 详细补充您的问题内容，并确保问题表述清晰直观，并提供一些相关的资料<br><br>
            - 选择标签: 选择一个或多个合适的标签，以逗号(，)分隔，每个标签不超过10个字<br><br>
        </div>
    </div>
</div>

</body>
</html>