<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${question.title}"></title><!--显示controller传回来的question的title-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!--连接 样式文件-->

    <!-- css样式文件 -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/><!--引入自己的样式文件(用在"发现"页面)-->

    <!-- js样式文件 -->
    <script src="/js/jquery-3.6.0.min.js"></script><!--用于下拉菜单，并且要在js文件中的第一个位置-->
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/moment.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>
</head>

<body>
<!--****************************************** 引入导航条模块 ******************************************-->
<div th:insert="~{navigation :: nav}"></div><!--模块html文件名称 :: 模块名称-->

<!--************************************ 这里开始是 "问题详情" 的部分 ************************************-->
<div class="container-fluid main profile">  <!--使用自己的样式文件写的样式-->
    <div class="row">

        <!--1.左边部分-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">

            <!--左边部分的 问题部分，占据左边部分的全部宽度-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--问题标题-->
                <h4 class="question-title"><span th:text="${question.title}"></span></h4><!--显示controller传回来的question的title-->
                <!--问题的作者、发布时间、阅读数-->
                <span class="text-desc">
                作者: <span th:text="${question.user.name}"></span> |
                发布时间: <span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span> |
                阅读数: <span th:text="${question.viewCount}"></span>
            </span>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--问题描述-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:text="${question.description}"></div>

                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--标签-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <span class="label label-info question-tag" th:each="tag : ${question.tagList}">
                        <span class="glyphicon glyphicon-tags"></span>
                        <span class="label label-info" th:text="${tag}"></span>
                    </span>
                </div>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--问题描述下面的 编辑按钮-->
                <!--使用自己的community.css样式文件-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a th:href="@{/publish/{id}(id=${question.id})}" class="community-menu"
                       th:if="${session.user != null && session.user.accountId == question.creator}"><!--判断:当前用户才能编辑-->
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true">编辑</span>
                    </a>
                </div>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            </div>

            <!--外面包了一层div，为了横线长度一致-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--回复列表-->
                <h4>
                    <span th:text="${question.commentCount}"></span> 个回复
                </h4>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-divider">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comments" th:each="comment : ${comments}"><!-- each循环遍历每个comment-->
                    <!--回复人头像、用户名-->
                    <div class="media">
                        <!--头像-->
                        <div class="media-left">
                            <a href="#">
                                <!-- img-rounded为圆角正方形头像框，th:src为头像url地址 -->
                                <img class="media-object comment-avatar img-rounded" th:src="${comment.user.avatarUrl}">
                            </a>
                        </div>
                        <!--用户名-->
                        <div class="media-body" th:id="${'comment-body-' + comment.id}">
                            <h5 class="media-heading">
                                <span th:text="${comment.user.name}"></span>
                            </h5>
                            <!--回复内容-->
                            <div th:text="${comment.content}"></div>
                            <!--回复的点赞按钮、评论按钮、时间-->
                            <div class="menu">
                                <span class="glyphicon glyphicon-thumbs-up icon"></span><!--回复的点赞按钮-->
                                <span class="glyphicon glyphicon-comment icon" th:data-id="${comment.id}" onclick="collapseComments(this)"
                                      th:text="${comment.commentCount}"></span><!--回复的评论按钮--><!--绑定到community.js的collapseComments(e)方法-->

                                <span class="pull-right" th:text="${#dates.format(comment.gmtCreate,'yyyy-MM-dd')}"></span><!--回复的时间-->
                            </div>

                            <!--二级评论-->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 collapse sub-comments" th:id="${'comment-' + comment.id}">

                                <!--二级评论列表-->
                                <!--这一部分在community.js中的collapseComments()用jQuery拼接出来-->
                                <!--
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comments" th:each="comment : ${comments}">&lt;!&ndash; 循环遍历二级comment&ndash;&gt;
                                    &lt;!&ndash;回复人头像、用户名&ndash;&gt;
                                    <div class="media">
                                        &lt;!&ndash;头像&ndash;&gt;
                                        <div class="media-left">
                                            &lt;!&ndash; img-rounded为圆角正方形头像框，th:src为头像url地址 &ndash;&gt;
                                            <img class="media-object comment-avatar img-rounded" th:src="${comment.user.avatarUrl}">
                                        </div>
                                        &lt;!&ndash;用户名&ndash;&gt;
                                        <div class="media-body">
                                            <h5 class="media-heading" th:text="${comment.user.name}"></h5>
                                            &lt;!&ndash;二级评论内容&ndash;&gt;
                                            <div th:text="${comment.content}"></div>
                                            &lt;!&ndash;二级评论的时间（二级评论没有点赞和回复按钮）&ndash;&gt;
                                            <div class="menu">
                                               <span class="pull-right" th:text="${#dates.format(comment.gmtCreate,'yyyy-MM-dd')}"></span>&lt;!&ndash;回复的时间&ndash;&gt;
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                -->

                                <!--二级评论 输入框-->
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" placeholder="评论一下" th:id="${'input-' + comment.id}">
                                    <!--二级评论 评论按钮-->
                                    <button type="button" class="btn btn-success pull-right" onclick="comment(this)" th:data-id="${comment.id}">评论</button>
                                </div>                                                   <!--绑定到community.js的comment(e)方法-->

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!--外面包了一层div，为了横线长度一致-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--左边部分的 回复输入框部分，占据左边部分的全部宽度-->
                <h4>
                    回复问题
                </h4>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-divider">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="comment_section"><!--在community.js的post()方法中，回复成功就隐藏输入框-->
                    <!--回复人头像、用户名-->
                    <div class="media">
                        <!--头像-->
                        <div class="media-left">
                            <a href="#">
                                <!-- img-rounded为圆角正方形头像框，th:src为头像url地址 -->
                                <img class="media-object comment-avatar img-rounded" th:src="${question.user.avatarUrl}">
                            </a>
                        </div>
                        <!--用户名-->
                        <div class="media-body username">
                            <h5 class="media-heading">
                                <span th:text="${question.user.name}"></span>
                            </h5>
                        </div>
                    </div>

                    <input type="hidden" id="question_id" th:value="${question.id}">
                    <!--回复内容输入框-->
                    <textarea class="form-control comment" rows="6" id="comment_content"></textarea>
                    <!--回复按钮-->
                    <button type="button" class="btn btn-success btn-comment" onclick="post()">回复</button>
                                                                    <!--绑定到community.js的post()方法-->
                </div>
            </div>

        </div>

        <!--2.右边部分-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>发起人</h4>
                <!--作者头像、作者用户名-->
                <div class="media">
                    <!--作者头像-->
                    <div class="media-left">
                        <a href="#">
                            <!-- img-rounded为圆角正方形头像框，th:src为头像url地址 -->
                            <img class="media-object comment-avatar img-rounded" th:src="${question.user.avatarUrl}">
                        </a>
                    </div>
                    <!--作者用户名-->
                    <div class="media-body username">
                        <h5 class="media-heading">
                            <span th:text="${question.user.name}"></span>
                        </h5>
                    </div>
                </div>
            </div>

            <!--community项目网址二维码-->
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>GitHub项目地址</h4>
                <img class="img-thumbnail" src="/img/community项目二维码.jpg" width="50%">
            </div>

            <!--相关问题-->
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>相关问题</h4>
                <ul class="question-related">
                    <li th:each="relatedQuestion : ${relatedQuestions}">
                        <a th:href="@{/question/{id}(id=${relatedQuestion.id})}" th:text="${relatedQuestion.title}"></a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>

</body>
</html>